# Ignorando ejecutables y archivos de salida
*.exe
*.out
*.app

#ignorando archivos de objetos, bibliotecas y otras basuras
*.o
*.obj
*.so
*.a
*.dll

*.layout
*.depend
bin/
obj/

# viendo si es necesario ignorar .cbp o no
*.cbp

.vscode/

.DS_Store
Thumbs.db

*~
*.swp
*.tmp
